<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>893535746-8hhb27fij4d2b9v5mseit8cof71hk688.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893535746-8hhb27fij4d2b9v5mseit8cof71hk688</string>
	<key>API_KEY</key>
	<string>AIzaSyC1EjH-MTam-RinabEoHom8ixis-ecRNbc</string>
	<key>GCM_SENDER_ID</key>
	<string>893535746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.klikpegi</string>
	<key>PROJECT_ID</key>
	<string>klikpegi-200207</string>
	<key>STORAGE_BUCKET</key>
	<string>klikpegi-200207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893535746:ios:312e86f6f6707303</string>
	<key>DATABASE_URL</key>
	<string>https://klikpegi-200207.firebaseio.com</string>
</dict>
</plist>