page-payment-detail {
  .text {
    &-title { font-size: 1.6rem; color: rgb(74,74,74); }
    &-subtitle { font-size: 1rem; color: rgb(127,127,127); }
    &-content { font-size: 1.4rem; color: rgb(74,74,74); }
    &-price { font-size: 1.8rem; font-weight:500 }
    &-header { font-size: 1rem; color: rgb(105,105,105); text-transform: uppercase; font-weight:700;}
    &-subcontent {
      font-size: 1.2rem;
      color: rgb(74,74,74);
    }
  }

  .item {
    padding-left: 0px !important;
  }

  ion-footer {
    background-color: white;
  }
}
