page-my-bookings {
  .text {
    &-title {
      font-size: 1.6rem;
      color: rgb(74,74,74);
    }

    &-label {
      font-weight: 500;
      font-size: 1rem;
    }

    &-subtitle {
      font-size: 1rem;
      color: rgb(127,127,127);
    }

    &-content {
      font-size: 1.4rem;
      color: rgb(74,74,74);
    }

    &-content-big {
      font-size: 1.8rem;
      color: rgb(74,74,74);
      font-weight: 500;
    }

    &-content-light {
      font-size: 1.4rem;
      text-align: left;
      color: rgb(74, 74, 74);
    }

    &-subcontent {
      font-size: 1.2rem;
      color: rgb(74,74,74);
    }

    &-big-price {
      font-size: 2rem;
      color: rgb(74,74,74);
      font-weight: 500;
    }

    &-price {
      font-size: 1.6rem;
      color: rgb(74,74,74);
      font-weight: 500;
    }

    &-warning {
      font-size: 1.2rem;
      color: rgb(255,255,255);
    }

    &-digit-price {
      color: rgb(19,112,221);
    }

    &-header {
      font-size: 1rem;
      color: rgb(105,105,105);
      text-transform: uppercase;
      font-weight: 700;
    }

    &-reminder {
      font-size: 1.2rem;
      color: rgb(189, 0, 23);
      text-transform: none;
    }
  }


}
